{% extends "ISLCrearchitexBundle::layout.html.twig" %}
{% block title %} Categorie Modification - Crearchitex {% endblock %}
{% block contenu %}

    <h2> Modification d'une categorie </h2>

    {{ form_start(form) }}
    {{ form_widget(form) }}
   
    {{ form_end(form) }}
     {{form(deleteForm)}}
{% endblock %}


