{# Template de base #}

<!DOCTYPE html>
<html>
    {% block header %}
        {#  {%include 'ISLCrearchitexBundle:Base:header.html.twig' %}#}
        <head>
            <title>{% block title %}Crearchitex{% endblock %}</title> 

            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
            <meta charset="utf-8">

            {% block stylesheets %}    

                {#{% stylesheets 'bundles/islcrearchitex/css/*' filter='cssrewrite' %}#}
                {% stylesheets 'css/*' filter='cssrewrite' %}
                <link href="{{asset_url}}" rel="stylesheet" type="text/css"/>
                <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
                {% endstylesheets %} 
            {% endblock %}

            {#{% image 'bundles/islcrearchitex/images/*' filter='cssrewrite' %}   {% endimage %} #}

        </head>

    {% endblock %}
    <body>

        <header>
            {% block menu %} 
                {% include 'ISLCrearchitexBundle:Base:menu.html.twig' %}
            {% endblock %}
        </header>
        <div class="contenu_page">
            {% block flash %}
                {% for flash_message in app.session.flashbag.get('error') %}
                    <div class="alert alert-warning" role="alert">   {{flash_message}} </div>
                {% endfor %}
            {% endblock %}

            <div class="centrage">
                {% block contenu %}
                {% endblock %}
            </div>
        </div>
        <footer class="pied_page">
            {% block footer %} 
                {% include 'ISLCrearchitexBundle:Base:footer.html.twig' %}
            {% endblock %}
        </footer>
    </body>
</html>