<section class="centrage">
    <div class="pos_flex">
        <div class="foo fl">
            <img class="foo_logo" src="images/logo/logo.png" height="60" alt=""/>
            <p> Rejoignez-nous ...</p>
            <div class="reseaux_soc">
                <a href="#"><img src="images/all/facebook.png" alt=""/></a>
                <a href="#"><img src="images/all/twitter.png" alt=""/></a>
                <a href="#"><img src="images/all/vimeo.png" alt=""/></a>
                <a href="#"><img src="images/all/linked.png" alt=""/></a>
                <a href="#"><img src="images/all/flickr.png" alt=""/></a>
            </div>
        </div>
        <div class="foo fl">
            <h2>Contact</h2>
            <ul class="foo_contact">
                <li><span>Adresse:</span>
                <li><span>Tel:</span>
                <li><span>Email:</span>
            </ul>
        </div>
        <div class="clearfix"></div>
        <div class="foo fl foo_bloc2">
            <h2>Derniers Tweets</h2>
            <div class="foo_tweets">
                <a class="twitter-timeline" href="https://twitter.com/Reuters" data-widget-id="604349413813788673">Tweets
                    de @Reuters</a>
            </div>
        </div>
        <div class="foo fl foo_bloc2">
            <h2>Dernières news</h2>
            <ul class="foo_news">
                <li><a href="#">Maison passive</a></li>
                <li><a href="#">Nouveau collaborateur</a></li>
                <li><a href="#">Inauguration</a></li>
                <li><a href="#">Interview</a></li>
                <li><a href="#">Europa Nostra</a></li> -->

            </ul>
        </div>
    </div>
</section>
<div class="copy_r">
    <div class="centrage">
        <p> © copyright 2014 <span id="copy_r_crear">Crearchitech</span>. All Rights Reserved. - plan du site</p>
    </div>
</div>

{% block javascripts %}  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    {% javascripts 'bundles/islcrearchitex/js/*'  %}

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>-->

    <script src="{{asset_url}}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}
