{# header template #}
<head>
    {% block title %} <title>Crearchitex</title> {% endblock %}

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="utf-8">

    {% block stylesheets %}    
        {% stylesheets 'bundles/islcrearchitex/css/*' filter='cssrewrite' %}
        <link href="{{asset_url}}" rel="stylesheet" type="text/css"/>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        {% endstylesheets %}
    {% endblock %}

    {#{% image 'bundles/islcrearchitex/images/*' filter='cssrewrite' %}   {% endimage %} #}




</head>
