{# Template de base #}

<!DOCTYPE html>
<html>
    {% block header %}
        {%include 'ISLCrearchitexBundle:Base:header.html.twig' %}
    {% endblock %}
    <body>

        <header>
            {% block menu %} 
                {% include 'ISLCrearchitexBundle:Base:menu.html.twig' %}
            {% endblock %}
        </header>
        <div class="contenu_page">
            <div class="centrage">
                {% block contenu %}
                {% endblock %}
            </div>
        </div>
        <footer class="pied_page">
            {% block footer %} 
                {% include 'ISLCrearchitexBundle:Base:footer.html.twig' %}
            {% endblock %}
        </footer>
    </body>
</html>