.container{
    max-width: 1024px;
    margin-top: 20px;
}

.red{
    color: red;
}

.navbar {
    display: none; 
}
/* Navbar */
.navbar + .docs-section {
    border-top-width: 0; }
.navbar,
.navbar-spacer {
    display: block;
    width: 100%;
    height: 6.5rem;
    background: #fff;
    z-index: 99;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee; }
.navbar-spacer {
    display: none; }
.navbar > .container {
    width: 100%; }
.navbar-list {
    list-style: none;
    margin-bottom: 0; }
.navbar-item {
    position: relative;
    float: left;
    margin-bottom: 0; }
.navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222; }
.navbar-link.active {
    color: #33C3F0; }
.has-docked-nav .navbar {
    position: fixed;
    top: 0;
    left: 0; }
.has-docked-nav .navbar-spacer {
    display: block; }
/* Re-overiding the width 100% declaration to match size of % based container */
.has-docked-nav .navbar > .container {
    width: 80%; }

label small{
    font-weight: normal;
    font-style: italic;
    color: #666666;
}
label small:before{
    content: '\26A0 ';
    color: red;
    margin-left: 20px;
    margin-right: 5px;
}

img.preview_img{
    max-width: 150px;
}
.active_link{
    font-weight: bold;
    text-decoration: none;
    font-size: 150%;
}

table tr{
    vertical-align: top;
}

.ico_action{
    width: 16px;
    padding-left: 10px;
    -webkit-transition: all .5s cubic-bezier( .6, 2, .4, 1); 
    -moz-transition: all .5s cubic-bezier( .6, 2, .4, 1); 
    -ms-transition: all .5s cubic-bezier( .6, 2, .4, 1); 
    -o-transition: all .5s cubic-bezier( .6, 2, .4, 1); 
    transition: all .5s cubic-bezier( .6, 2, .4, 1);
}
.ico_action:hover{
    /*opacity: 0.85;*/
    -webkit-transform: scale(1.5); 
    -moz-transform: scale(1.5); 
    -ms-transform: scale(1.5); 
    -o-transform: scale(1.5); 
    transform: scale(1.5);
}
.invisible{
    opacity: 0.2;
}
.invisible:hover{
    opacity: 1;
    color: red;
}
/*
Skin Name: Nivo Slider Default Theme
Skin URI: http://nivo.dev7studios.com
Description: The default skin for the Nivo Slider.
Version: 1.3
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
Supports Thumbs: true
*/

.theme-default .nivoSlider {
	position:relative;
	background:#fff url(../../Resources/public/css/loading.gif) no-repeat 50% 50%;
    margin-bottom:10px;
    -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
    -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
    box-shadow: 0px 1px 5px 0px #4a4a4a;
}
.theme-default .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.theme-default .nivoSlider a {
	border:0;
	display:block;
}

.theme-default .nivo-controlNav {
	text-align: left;
	padding: 20px 0;
}
.theme-default .nivo-controlNav a {
	display:inline-block;
	width:10px;
	height:10px;
	background:url(../../Resources/public/images/all/bullets.png) no-repeat ;
	text-indent:-9999px;;
	border:0;
	margin: 0 2px;
}
.theme-default .nivo-controlNav a.active {
	background-position:0 -19px;
}

.theme-default .nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url(../../Resources/public/images/all/arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
	opacity: 0;
	-webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.theme-default:hover .nivo-directionNav a { opacity: 1; }
.theme-default a.nivo-nextNav {
	background-position:-30px 0px;
	right:15px;
}
.theme-default a.nivo-prevNav {
	left:15px;
}

.theme-default .nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
}
.theme-default .nivo-caption a {
    color:#fff;
    border-bottom:1px dotted #fff;
}
.theme-default .nivo-caption a:hover {
    color:#fff;
}

.theme-default .nivo-controlNav.nivo-thumbs-enabled {
	width: 100%;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled a {
	width: auto;
	height: auto;
	background: none;
	margin-bottom: 5px;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled img {
	display: block;
	width: 120px;
	height: auto;
}
/* Preload images */
body:after {
  content: url(../../Resources/public/images/all/close.png) url(../../Resources/public/images/all/loading.gif) url(../../Resources/public/images/all/prev.png) url(../../Resources/public/images/all/next.png);
  display: none;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-container {
  padding: 4px;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../../Resources/public/images/all/loading.gif) no-repeat;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../../Resources/public/images/all/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../../Resources/public/images/all/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../../Resources/public/images/all/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/*
 * jQuery Nivo Slider v3.2
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
	width:100%;
	height:400px;
	overflow: hidden;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
	background:white; 
	filter:alpha(opacity=0); 
	opacity:0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	background:#000;
	color:#fff;
	width:100%;
	z-index:8;
	padding: 5px 10px;
	opacity: 0.8;
	overflow: hidden;
	display: none;
	-moz-opacity: 0.8;
	filter:alpha(opacity=8);
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	text-align:center;
	padding: 15px 0;
}
.nivo-controlNav a {
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}
/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;}

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */

/*
html {
  font-size: 62.5%; }
*/
/*
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element 
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222; }
*/

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }
h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }
*/

/* Larger than phablet */

/*
@media (min-width: 550px) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 4.2rem; }
  h3 { font-size: 3.6rem; }
  h4 { font-size: 3.0rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.5rem; }
}

p {
  margin-top: 0; }

*/


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #1EAEDB; }
a:hover {
  color: #0FA0CE; }


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }


/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; }
*/

/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }

*/
/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}

.container .text-muted {
    margin: 20px 0;
}
/*+++++++++++++++++++++++++++++++++++++ 
  +       media: smartphone           +
  +++++++++++++++++++++++++++++++++++++
*/
body {
    margin: 0;
    font-family: tahoma,arial,sans-serif;
    font-size: 75%;
    background-color: #fff;
    background-image: url(../../Resources/public/images/logo/logo.png);
    color: #000;
}
p{
    line-height: 16px;
    margin: 0;
    padding: 10px 0;
}

h1,h2,h3{
    font:normal 1.333em 'Open Sans', sans-serif;
    margin: 0;
    padding: 10px 0; /*2.083333333333333% 0;*/
}
h2,h3{
    font-weight: bold; 
}
header,section,footer,nav{
    display: block;
}
header{
    font: bold 1em 'Open Sans', sans-serif;
    color: #aaa;
    background-color:#363636;
    margin: 0;/*  4.166666666666667%;*/
}
.centrage{
    width: 90%;
    margin: 0 5%;
    padding: 1px;
}
.pied_page{
    /*font-size: 1.2em;*/
    color: #bbb;
    background-color:#363636;
    margin: 50px 0 0;/*10px 0 0;*/
}
.logo{
    margin: 0;
    padding: 0;
}
.logo img{
    width: 27%;
    max-width: 130px;
}
.logo a{
    display: block;
    margin: 0;
}
.clearfix{
    clear: both;
}
.sec_titre{
    color: inherit;
    background-color:#F7F7F7;
    border-bottom:1px solid #E1E1E1;
}
nav ul,
.sliders,
.equipe_img_fl img,
.global_de_vinci img,
.foo_logo,
.foo_bloc2,
.googlemap,
.nos_coord{
    display: none;
}
.admin_gestion{
    height: 180px;
    margin-top: 20px;
    padding: 10px 20px 20px;
    border: 1px solid #505050;
    color: #fafafa;
    background-color: #CCC;
}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ Home +++++++++++++++++++++++++*/
/*-----slider----- (home)*/
.sliders{
    margin: 20px 0;
}
.home_bloc_3,
.home_bloc_4{
    margin: 30px 0;
    padding: 0;
}
.slider-wrapper { 
    width: 100%;
    margin: 0;
    border-bottom: 1px solid rgba(48,48,48,0.1);
}
/*-----------------------------*/
.hb_3{
    margin: 15px 0;
    padding-left: 35px;
    width: auto;
    position: relative;
}
.hb_3 p{
    padding: 3px 0;
}

/*--- ronds contenant les chiffres 1,2,3 (home) */
.hb_3_rond_1,
.hb_3_rond_2,
.hb_3_rond_3{
    text-align: center;
    font-size: 1.5em; /*2em;*/
    width: 25px;
    height: 25px;
    border-radius: 15px;
    position: absolute;
}
.hb_3_rond_1{
    left: 0;
    top: 25px;
    color: #fafafa;
    background-color: #81B600;
}
.hb_3_rond_2{
    left: 0;
    top: 25px;
    color: #fafafa;
    background-color: #3f3f3f;
}
.hb_3_rond_3{
    left: 0;
    top: 25px;
    color: #fafafa;
    background-color: #3f3f3f;
}
/*--------section principale: gestion des liens(home)------*/
.hb_4 a{
    color: inherit;
    background-color: inherit;
    text-decoration: none;
}
.hb_4 a:hover{
    color: #81B600;
    background-color: transparent;
}
.hb_4 img{
    width:100%;
}
.ligne_apres span{
    display: inline-block;
}

/*+++++++++++++++++++++++++++ equipe +++++++++++++++++++++++++*/
.global_de_vinci{
    position: relative;
}
.cita_devinci{
    padding-left: 10px;
    padding-right: 10px;
    font-style: italic;
    font-family: "open sans";
    border: 2px solid #DDDDDD;
    color: #fafafa;
    background-color: #3f3f3f;
    box-shadow: -5px 2px 2px  #aaa;
}
.global_de_vinci :nth-child(3){
    background-color: #81B600;
    color: inherit;
    border: 1px solid #000;
    padding: 3px;
    display: inline-block;
    position: absolute;
    bottom: -15px;
    right: 0.5px;
    box-shadow: -1px 1px 1px  #aaa;
}
.equipe_collegue{
    position: relative;
    width:auto;
    margin-top: 20px;
    padding: 2%;
    color: inherit;
    border-radius: 5px;
    background-color:#DDDDDD;
    /*box-shadow: 0px 7px 5px -2px #333;*/
}
.equipe_collegue:before,
.equipe_collegue:after{
    z-index: -1;
    position: absolute;
    content: " ";
    background: #777;
    color: inherit;
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
}
.equipe_collegue:after{
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto;
}
.equipe_descr :nth-child(1){
    color: #79A006;
    background-color: inherit;
    text-shadow: 1px 1.5px 0px rgba(255, 255, 255, 0.6);
    padding-top: 0px;
    margin-top: 0px;
}
.equipe_descr :nth-child(2){
    padding-top: 0px;
    text-shadow: 2px 2px 0px rgba(255, 255, 255, 0.6);
}
.equipe_descr :nth-child(3){
    padding-bottom: 0;
    padding-right: 0;
}
/*++++++++++++++++++++++++++ projets +++++++++++++++++++++++++*/
.bloc_projet{
    height: 150px;
    width: 60%;
    color: inherit;
    background-color: #2BBD2D;
    margin: 5% auto;
    padding: 0;
}
.group1_proj :nth-child(1).bloc_projet{
    position: relative;
    color: inherit;
    background:url("../../Resources/public/images/all/our-1.jpg") no-repeat center/cover transparent;
}
.group1_proj :nth-child(2).bloc_projet{
    position: relative;
    color: inherit;
    background:url("../../Resources/public/images/all/our-2.jpg") no-repeat center/cover transparent;
}
.group1_proj :nth-child(4).bloc_projet{
    position: relative;
    color: inherit;
    background:url("../../Resources/public/images/all/our-3.jpg") no-repeat center/cover transparent;
}
.group1_proj :nth-child(5).bloc_projet{
    position: relative;
    color: inherit;
    background:url("../../Resources/public/images/all/our-4.jpg") no-repeat center/cover transparent;
}
.group2_proj :nth-child(1).bloc_projet{
    position: relative;
    color: inherit;
    background:url("../../Resources/public/images/all/c-4.jpg") no-repeat center/cover transparent;
}
.group2_proj :nth-child(2).bloc_projet{
    position: relative;
    color: inherit;
    background:url("../../Resources/public/images/all/c-3.jpg") no-repeat center/cover transparent;
}
.group2_proj :nth-child(4).bloc_projet{
    position: relative;
    color: inherit;
    background:url("../../Resources/public/images/all/c-2.jpg") no-repeat center/cover transparent;
}
.group2_proj :nth-child(5).bloc_projet{
    position: relative;
    color: inherit;
    background:url("../../Resources/public/images/all/c-1.jpg") no-repeat center/cover transparent;
}
.detail_projet span{
    font-weight: 500;
    font-size: 1.4em;
    display: block;
    padding-top: 5px;
    margin-bottom: 15px;
}
.detail_projet{
    background: rgba(43, 189, 45,0.8) url("../../Resources/public/images/all/portfolio_smaller.png") 5px 5px no-repeat;
    color: #fafafa;
    background-size: 35px;
    height: 25px;
    top: 105px;
    position: absolute;
    width: 75%;
    padding-left:25%;
    transition: all 1s ease;
    overflow: hidden;
}
.bloc_projet:hover .detail_projet{
    top: 0;
    height:130px;   
}
/*-------------News------------------*/
.news{
    margin: 20px auto; 
    padding: 0 10px;
    color: inherit;
    background-color:#DDDDDD;
    border-radius: 5px;
}
/*-------------Contact---------------*/
.form_contact,
.nos_coord,
.googlemap{
    margin-top: 10px;
}
.googlemap iframe{
    width: 100%;
}
.nos_coord h2,
.form_contact h2{
    border-bottom:  1px solid #dddddd;
}
.form_contact{
    width: 100%;
}
.form_contact span{
    color: #ED1C24;
    background-color: inherit;
}
.form_contact label{
    display: block;
    margin: 10px 0 5px;
}
.send_mail{
    width: 35%;
}
input{
    width: 60%;
}
textarea{
    width: 98%;
    height: 100px;
}
/*--------------footer--------------*/
.foo{
    width: auto;
}
/*---Footer bloc réseaux sociaux-----------*/
.reseaux_soc{
    margin-top:15px;/*15px 0;*/
}
.reseaux_soc a{
    display: inline-block;
    -moz-transition: all 0.9s linear;
    -webkit-transition: all 0.9s linear;
    -ms-transition: all 0.9s linear;
    -o-transition: all 0.9s linear;
    transition: all 0.9s linear;
    opacity: 0.2;
}
.reseaux_soc a:hover{
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    opacity: 1;
}
/*---------Footer bloc Contact---------- */
.foo_contact{
    padding-left:0px;/* 2.083333333333333%;*//*10px;*/
}
.foo_contact li{
    list-style: none;
}
.foo_contact span{
    display: inline-block;
    color: #fafafa;
    background-color: inherit;
}
.foo_contact li{
    padding: 10px 0;
    margin: 1.041666666666667% 0; /*5px 0;*/
}
.foo_contact li a{
    text-decoration: none;
    color: #81B600;
    background-color: inherit;
}
.foo_contact li a:hover{
    color: inherit;
    background-color: inherit;
}
/*---------------------Footer bloc dernières News------------*/
.foo_news{
    padding:  2.083333333333333%;/*10px;*/
    list-style-image: url(../../Resources/public/images/all/list_star.png);
}
.foo_news li a{
    padding: 5px 0;
    text-decoration: none;
    display: block;
    color: inherit;
    background-color: inherit;
}
.foo_news li a:hover{
    color: #81B600;
    background-color: inherit;
}
/*----footer bloc copyright-----*/
.copy_r{
    margin-top: 10px;
    color: inherit;
    background:#3f3f3f;
}
.copy_r p{
    text-align: center;
    padding: 1.5%;  
}
#copy_r_crear{
    color: #fafafa;
    background-color: inherit;
}
/*-------------decoration-------*/
.contenu_page h1{
    font-size: 1.5em; /*1.375em*/
    /*letter-spacing: -0.6px;*/
    color: #505050;
    background-color: inherit;
}
.contenu_page h1 span{
    display:inline-block;
    color: #fafafa;
    background-color: #81B600;
    border-radius: 3px;
}
.foo h2{ 
    color: #fafafa;
    background-color: inherit;
    padding: 10px 0;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(136,136,136,0.3);
}
/*Titre*/
.txt_align{
    text-align: center;
    margin-top: 10px;
    padding: 0;
}
/*--------menu de navigation principal---------*/
nav ul {
    padding: 0;
    margin: 0; 
    width: 100%;
    text-transform: uppercase;
    list-style: none;
}
nav a {
    color: inherit;
    background-color: inherit;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 2.083333333333333%;/*10px;*/
}
nav li a {
    border-top: solid 3px #3f3f3f;
    border-bottom: solid 3px transparent;
}
nav li a:hover, nav li a:active {
    color: #fafafa;
    background-color: #3f3f3f;
    border-top: solid 3px #81B600;
    border-bottom: solid 3px #81B600;
}
nav a.pull {
    display: block;
    color: inherit;
    background-color: rgba(142,142,142,0.2); 
    border-radius: 5px 5px 0 0;
    position: relative;
}
nav a.pull:after {
    content:"";
    color: inherit;
    background-color: inherit;
    background:url('../../Resources/public/images/all/nav-icon.png') no-repeat;
    width: 6.25%;
    height:30px;
    display: inline-block;
    position: absolute;
    right: 3px;
    top: 9px;
}
/*+++++++++++++++++++++++++++++++++++++ 
  +       media: Tablette             +
  +++++++++++++++++++++++++++++++++++++
*/
/*--------menu de navigation principal---------*/
@media screen and (min-width:480px) {
    .logo img{
        max-width:130px; /*(130px;*/
        width:100%; 
    }
    .txt_align{
        text-align: center;
        width:80%;
        margin: 20px auto;
        padding: 0;
    }
    .contenu_page h1{
        font-size:1.8333em;/* 2.2em;*/
        letter-spacing: -0.6px;
    }
    .hb_3{
        /*width: 285px;*/
        width: 20%;
        margin: 0 1%;
    }
    .hb_4{
        width: 28%;
    }

    nav{
        background-color: rgba(36,36,36,0.2);
    }
    nav ul{
        width:100%;
        display: -moz-box-flex;
        display: -webkit-flex;
        display: flex;
        justify-content:space-between; 
    }
    nav a{
        padding: 10px;
    }
    nav a.pull{
        display: none;
    }
    nav li a {
        border-top: solid 3px transparent;
        border-bottom: none;
    }
    nav li a:hover, nav li a:active {
        border-bottom: none;
    }
    .home_bloc_3,
    .home_bloc_4{
        display: -moz-box-flex;
        display: -webkit-flex;
        display: flex;
        justify-content:space-between; 
    }
    .ligne_apres{
        position: relative;
    }
    .ligne_apres:after{
        width: 86%;
        position: absolute;
        content: "";
        bottom: 20px;
        border-bottom: 1px solid #DDDDDD;
    }
    .ligne_apres span{
        width:14%;
        padding-right: 0;

    }
    .home_bloc_4 h2 span{
        display: inline-block;
        color: inherit;
        background-color: #fff;
    }
    .global_de_vinci{
        margin: 15px 0 50px;
    }
    .global_de_vinci img{
        display: block;
        position: absolute;
        top: 37px;;
        left: 0px;
        z-index: 1;
    }
    .global_de_vinci :nth-child(3){
        background-color: #fff;
        color: inherit;
        border: none;
        bottom: -30px;
        left: 45px;
        box-shadow: none;
    }
    .global_de_vinci :nth-child(3) span{
        display: inline-block;
        background-color: inherit;
        color: #81B600;
    }
    .cita_devinci{
        font-style: normal;
        color:#000;
        background-color:#fff;
        box-shadow: none;
        border: 1px solid #dddddd;
    }
    .equipe_collegue{
        padding: 0px;
    }
    .equipe_img_fl{
        display: -moz-box-flex;
        display:  -webkit-flex;
        display: flex;
        padding: 15px 0 15px 15px;
    }
    .equipe_descr{
        width: 62%;
        margin-left: 2%;
    }
    .form_contact input{
        width: 50%
    }
    input.send_mail{
        width: 20%;
    }
    textarea{
        height: 150px;
    }
    .googlemap,
    .foo_bloc2,
    .foo_logo,
    .equipe_img_fl img{
        display: block;
    }
    .foo{
        width: 45%;
        margin: 0 5%;
    }
    .foo h2{
        padding-left: 0; 
    }
    .foo ul{
        padding-left:25px;
    }

    .pos_flex :nth-child(1).foo,
    .pos_flex :nth-child(4).foo{
        margin-left: 0;
    }
    .pos_flex :nth-child(2).foo,
    .pos_flex :nth-child(5).foo{
        margin-right: 0;
    }
    .pos_flex{
        overflow: hidden;
    }
    .fl{
        float: left;
    }
    .bloc_projet{
        color: inherit;
        background: rgba(43,189,45,0.1);
        width: 40%;
        margin: 5%;
    }
    .foo_contact li:nth-child(1){
        list-style-image: url(../../Resources/public/images/all/address.png);
    }
    .foo_contact li:nth-child(2){
        list-style-image: url(../../Resources/public/images/all/phone.png);
    }
    .foo_contact li:nth-child(3){
        list-style-image: url(../../Resources/public/images/all/mail.png);
    }
}
/*+++++++++++++++++++++++++++++++++++++ 
  +       media: Bureau               +
  +++++++++++++++++++++++++++++++++++++
*/
/*--------menu de navigation principal---------*/
@media only screen and (min-width : 768px) {
    .centrage{
        max-width: 1000px;
        margin: 0 auto;
    }
    .sliders{
        display: block;
    }
    .hb_2{
        width: 47.6%;
    }
    .hb_3{
        width: 27.6%;
    }
    .bloc_projet{
        width: 23%;
        margin: 0 2%;
    }
    .group1_proj,
    .group2_proj{
        margin: 4% 0;
    }
    .pos_flex :nth-child(1).bloc_projet{
        margin-left: 0;
    }
    .pos_flex :nth-child(5).bloc_projet{
        margin-right: 0;
    }
    .logo{
        display: inline-block;
    }
    .pos{
        position: relative;
    }
    nav{
        width:70%; 
        position: absolute;
        right: 0;
        top: 0;
        color: inherit;
        background: inherit;
    }
    nav ul li a{
        padding: 22px 15px;
    }
    .pos_flex,
    .equipe_flex{
        /*display: block;*/
        display: -moz-box-flex;
        display:  -webkit-flex;
        display: flex;
        justify-content:space-between;
    }
    .foo{
        width: 22%;
        margin: 0 2%;
    }
    .pos_flex :nth-child(1).foo{
        margin-left: 0;
    }
    .pos_flex :nth-child(2).foo{
        margin-right: 2%;
    }
    .pos_flex :nth-child(4).foo{
        margin-left: 2%;
    }


    .home_bloc_4 :nth-child(3).hb_4{
        margin-left: 0;
    }
    .home_bloc_4 :nth-child(5).hb_4{
        margin-right: 0;
    }
    .hb_4{
        width: 30.66%;
    }
    .equipe_collegue{
        width: 48.5%;
    }

    .form_contact{
        width: 60%;
    }
    .nos_coord{
        display: block;
        width: 37%;
    }
    .nos_coord ul{
        padding-left :20px; 
    }
    .nos_coord ul li{
        padding-bottom: 10px;
    }
    .nos_coord ul li a{
        text-decoration: none;
        color:inherit;
        background-color: inherit;
    }
    .nos_coord ul li a:hover{
        color: #81B600;
        background-color: inherit;
    }
    .nos_coord ul li span{
        font-weight: 700;
    }
    .nos_coord ul li:nth-child(1){
        list-style-image: url(../../Resources/public/images/all/address_contact.png);
    }
    .nos_coord ul li:nth-child(2){
        list-style-image: url(../../Resources/public/images/all/phone_contact.png);
    }
    .nos_coord ul li:nth-child(3){
        list-style-image: url(../../Resources/public/images/all/mail_contact.png);
    }
    .copy_r p{
        text-align: right;
    }
}


/*navigation*/
nav ul,
nav ul li {
    margin:0px;
}

nav ul li {
    diplay: inline;
}

nav ul li a {
    display: inline-block;
    /*line-height: 49px;*/
    /*padding: 0 14px;*/
    text-transform: uppercase;
    text-decoration: none;
    /*font-weight: bold;*/
    /*letter-spacing: 0.08em;*/
}

nav ul li a:hover {
	/*background-color: #424242;*/
	cursor: pointer;
}

/*sub menu*/

nav li ul li a {
	width: auto;
	min-width: 200px;
	/*padding: 0 20px;*/
}
nav li ul li a {
        /*width: 200px;*/   
        /*padding: 0 20px;*/
}

nav ul ul {
    opacity: 0;
    filter: alpha(opacity=0);
    
    list-style: none;
    
    position: absolute;
    z-index: 999;
    background-color: #2d2c2c;
    background-color: #EEEEEE;
    background-color: #fff;

    display: inline-block;
    height: 0px;
    overflow: hidden;

    min-width: 100%;
	
    
    
    -webkit-transition: opacity 0.4s ease-out;
    -moz-transition: opacity 0.4s ease-out;
    -o-transition: opacity 0.4s ease-out;
    -ms-transition: opacity 0.4s ease-out;
    transition: opacity 0.4s ease-out;

    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

nav ul li span {
    /*display: none;*/
}

nav ul li:hover ul {
    opacity: 10;
    filter: alpha(opacity=100);
    
    height: auto;
    overflow: auto;
    
    top: 65px;
    left: 0;
}

nav ul ul li {
    float: none;
    display: list-item;
}

nav ul ul li a {
    display: block;
    text-transform: none;
    color: inherit;
    
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: .2rem;
    padding-left: 15px;
    text-decoration: none;
    line-height: 4.5rem;
}
