/*+++++++++++++++++++++++++++++++++++++ 
  +       media: smartphone           +
  +++++++++++++++++++++++++++++++++++++
*/
body {
    margin: 0;
    font-family: tahoma,arial,sans-serif;
    font-size: 75%;
    background-color: #fff;
    color: #000;
}
p{
    line-height: 16px;
    margin: 0;
    padding: 10px 0;
}

h1,h2,h3{
    font:normal 1.333em 'Open Sans', sans-serif;
    margin: 0;
    padding: 10px 0; /*2.083333333333333% 0;*/
}
h2,h3{
    font-weight: bold; 
}
header,section,footer,nav{
    display: block;
}
header{
    font: bold 1em 'Open Sans', sans-serif;
    color: #aaa;
    background-color:#363636;
    margin: 0;/*  4.166666666666667%;*/
}
.centrage{
    width: 90%;
    margin: 0 5%;
    padding: 1px;
}
.pied_page{
    /*font-size: 1.2em;*/
    color: #bbb;
    background-color:#363636;
    margin: 50px 0 0;/*10px 0 0;*/
}
.logo{
    margin: 0;
    padding: 0;
}
.logo img{
    width: 27%;
    max-width: 130px;
}
.logo a{
    display: block;
    margin: 0;
}
.clearfix{
    clear: both;
}
.sec_titre{
    color: inherit;
    background-color:#F7F7F7;
    border-bottom:1px solid #E1E1E1;
}
nav ul,
.sliders,
.equipe_img_fl img,
.global_de_vinci img,
.foo_logo,
.foo_bloc2,
.googlemap,
.nos_coord{
    display: none;
}
.admin_gestion{
    height: 180px;
    margin-top: 20px;
    padding: 10px 20px 20px;
    border: 1px solid #505050;
    color: #fafafa;
    background-color: #CCC;
}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ Home +++++++++++++++++++++++++*/
/*-----slider----- (home)*/
.sliders{
    margin: 20px 0;
}
.home_bloc_3,
.home_bloc_4{
    margin: 30px 0;
    padding: 0;
}
.slider-wrapper { 
    width: 100%;
    margin: 0;
    border-bottom: 1px solid rgba(48,48,48,0.1);
}
/*-----------------------------*/
.hb_3{
    margin: 15px 0;
    padding-left: 35px;
    width: auto;
    position: relative;
}
.hb_3 p{
    padding: 3px 0;
}

/*--- ronds contenant les chiffres 1,2,3 (home) */
.hb_3_rond_1,
.hb_3_rond_2,
.hb_3_rond_3{
    text-align: center;
    font-size: 1.5em; /*2em;*/
    width: 25px;
    height: 25px;
    border-radius: 15px;
    position: absolute;
}
.hb_3_rond_1{
    left: 0;
    top: 25px;
    color: #fafafa;
    background-color: #81B600;
}
.hb_3_rond_2{
    left: 0;
    top: 25px;
    color: #fafafa;
    background-color: #3f3f3f;
}
.hb_3_rond_3{
    left: 0;
    top: 25px;
    color: #fafafa;
    background-color: #3f3f3f;
}
/*--------section principale: gestion des liens(home)------*/
.hb_4 a{
    color: inherit;
    background-color: inherit;
    text-decoration: none;
}
.hb_4 a:hover{
    color: #81B600;
    background-color: transparent;
}
.hb_4 img{
    width:100%;
}
.ligne_apres span{
    display: inline-block;
}

/*+++++++++++++++++++++++++++ equipe +++++++++++++++++++++++++*/
.global_de_vinci{
    position: relative;
}
.cita_devinci{
    padding-left: 10px;
    padding-right: 10px;
    font-style: italic;
    font-family: "open sans";
    border: 2px solid #DDDDDD;
    color: #fafafa;
    background-color: #3f3f3f;
    box-shadow: -5px 2px 2px  #aaa;
}
.global_de_vinci :nth-child(3){
    background-color: #81B600;
    color: inherit;
    border: 1px solid #000;
    padding: 3px;
    display: inline-block;
    position: absolute;
    bottom: -15px;
    right: 0.5px;
    box-shadow: -1px 1px 1px  #aaa;
}
.equipe_collegue{
    position: relative;
    width:auto;
    margin-top: 20px;
    padding: 2%;
    color: inherit;
    border-radius: 5px;
    background-color:#DDDDDD;
    /*box-shadow: 0px 7px 5px -2px #333;*/
}
.equipe_collegue:before,
.equipe_collegue:after{
    z-index: -1;
    position: absolute;
    content: " ";
    background: #777;
    color: inherit;
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
}
.equipe_collegue:after{
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto;
}
.equipe_descr :nth-child(1){
    color: #79A006;
    background-color: inherit;
    text-shadow: 1px 1.5px 0px rgba(255, 255, 255, 0.6);
    padding-top: 0px;
    margin-top: 0px;
}
.equipe_descr :nth-child(2){
    padding-top: 0px;
    text-shadow: 2px 2px 0px rgba(255, 255, 255, 0.6);
}
.equipe_descr :nth-child(3){
    padding-bottom: 0;
    padding-right: 0;
}
/*++++++++++++++++++++++++++ projets +++++++++++++++++++++++++*/
.bloc_projet{
    height: 150px;
    width: 60%;
    color: inherit;
    background-color: #2BBD2D;
    margin: 5% auto;
    padding: 0;
}
.group1_proj :nth-child(1).bloc_projet{
    position: relative;
    color: inherit;
    background:url("../images/all/our-1.jpg") no-repeat center/cover transparent;
}
.group1_proj :nth-child(2).bloc_projet{
    position: relative;
    color: inherit;
    background:url("../images/all/our-2.jpg") no-repeat center/cover transparent;
}
.group1_proj :nth-child(4).bloc_projet{
    position: relative;
    color: inherit;
    background:url("../images/all/our-3.jpg") no-repeat center/cover transparent;
}
.group1_proj :nth-child(5).bloc_projet{
    position: relative;
    color: inherit;
    background:url("../images/all/our-4.jpg") no-repeat center/cover transparent;
}
.group2_proj :nth-child(1).bloc_projet{
    position: relative;
    color: inherit;
    background:url("../images/all/c-4.jpg") no-repeat center/cover transparent;
}
.group2_proj :nth-child(2).bloc_projet{
    position: relative;
    color: inherit;
    background:url("../images/all/c-3.jpg") no-repeat center/cover transparent;
}
.group2_proj :nth-child(4).bloc_projet{
    position: relative;
    color: inherit;
    background:url("../images/all/c-2.jpg") no-repeat center/cover transparent;
}
.group2_proj :nth-child(5).bloc_projet{
    position: relative;
    color: inherit;
    background:url("../images/all/c-1.jpg") no-repeat center/cover transparent;
}
.detail_projet span{
    font-weight: 500;
    font-size: 1.4em;
    display: block;
    padding-top: 5px;
    margin-bottom: 15px;
}
.detail_projet{
    background: rgba(43, 189, 45,0.8) url("../images/all/portfolio_smaller.png") 5px 5px no-repeat;
    color: #fafafa;
    background-size: 35px;
    height: 25px;
    top: 105px;
    position: absolute;
    width: 75%;
    padding-left:25%;
    transition: all 1s ease;
    overflow: hidden;
}
.bloc_projet:hover .detail_projet{
    top: 0;
    height:130px;   
}
/*-------------News------------------*/
.news{
    margin: 20px auto; 
    padding: 0 10px;
    color: inherit;
    background-color:#DDDDDD;
    border-radius: 5px;
}
/*-------------Contact---------------*/
.form_contact,
.nos_coord,
.googlemap{
    margin-top: 10px;
}
.googlemap iframe{
    width: 100%;
}
.nos_coord h2,
.form_contact h2{
    border-bottom:  1px solid #dddddd;
}
.form_contact{
    width: 100%;
}
.form_contact span{
    color: #ED1C24;
    background-color: inherit;
}
.form_contact label{
    display: block;
    margin: 10px 0 5px;
}
.send_mail{
    width: 35%;
}
input{
    width: 60%;
}
textarea{
    width: 98%;
    height: 100px;
}
/*--------------footer--------------*/
.foo{
    width: auto;
}
/*---Footer bloc réseaux sociaux-----------*/
.reseaux_soc{
    margin-top:15px;/*15px 0;*/
}
.reseaux_soc a{
    display: inline-block;
    -moz-transition: all 0.9s linear;
    -webkit-transition: all 0.9s linear;
    -ms-transition: all 0.9s linear;
    -o-transition: all 0.9s linear;
    transition: all 0.9s linear;
    opacity: 0.2;
}
.reseaux_soc a:hover{
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    opacity: 1;
}
/*---------Footer bloc Contact---------- */
.foo_contact{
    padding-left:0px;/* 2.083333333333333%;*//*10px;*/
}
.foo_contact li{
    list-style: none;
}
.foo_contact span{
    display: inline-block;
    color: #fafafa;
    background-color: inherit;
}
.foo_contact li{
    padding: 10px 0;
    margin: 1.041666666666667% 0; /*5px 0;*/
}
.foo_contact li a{
    text-decoration: none;
    color: #81B600;
    background-color: inherit;
}
.foo_contact li a:hover{
    color: inherit;
    background-color: inherit;
}
/*---------------------Footer bloc dernières News------------*/
.foo_news{
    padding:  2.083333333333333%;/*10px;*/
    list-style-image: url(../images/all/list_star.png);
}
.foo_news li a{
    padding: 5px 0;
    text-decoration: none;
    display: block;
    color: inherit;
    background-color: inherit;
}
.foo_news li a:hover{
    color: #81B600;
    background-color: inherit;
}
/*----footer bloc copyright-----*/
.copy_r{
    margin-top: 10px;
    color: inherit;
    background:#3f3f3f;
}
.copy_r p{
    text-align: center;
    padding: 1.5%;  
}
#copy_r_crear{
    color: #fafafa;
    background-color: inherit;
}
/*-------------decoration-------*/
.contenu_page h1{
    font-size: 1.5em; /*1.375em*/
    /*letter-spacing: -0.6px;*/
    color: #505050;
    background-color: inherit;
}
.contenu_page h1 span{
    display:inline-block;
    color: #fafafa;
    background-color: #81B600;
    border-radius: 3px;
}
.foo h2{ 
    color: #fafafa;
    background-color: inherit;
    padding: 10px 0;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(136,136,136,0.3);
}
/*Titre*/
.txt_align{
    text-align: center;
    margin-top: 10px;
    padding: 0;
}
/*--------menu de navigation principal---------*/
nav ul {
    padding: 0;
    margin: 0; 
    width: 100%;
    text-transform: uppercase;
    list-style: none;
}
nav a {
    color: inherit;
    background-color: inherit;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 2.083333333333333%;/*10px;*/
}
nav li a {
    border-top: solid 3px #3f3f3f;
    border-bottom: solid 3px transparent;
}
nav li a:hover, nav li a:active {
    color: #fafafa;
    background-color: #3f3f3f;
    border-top: solid 3px #81B600;
    border-bottom: solid 3px #81B600;
}
nav a.pull {
    display: block;
    color: inherit;
    background-color: rgba(142,142,142,0.2); 
    border-radius: 5px 5px 0 0;
    position: relative;
}
nav a.pull:after {
    content:"";
    color: inherit;
    background-color: inherit;
    background:url('../images/all/nav-icon.png') no-repeat;
    width: 6.25%;
    height:30px;
    display: inline-block;
    position: absolute;
    right: 3px;
    top: 9px;
}
/*+++++++++++++++++++++++++++++++++++++ 
  +       media: Tablette             +
  +++++++++++++++++++++++++++++++++++++
*/
/*--------menu de navigation principal---------*/
@media screen and (min-width:480px) {
    .logo img{
        max-width:130px; /*(130px;*/
        width:100%; 
    }
    .txt_align{
        text-align: center;
        width:80%;
        margin: 20px auto;
        padding: 0;
    }
    .contenu_page h1{
        font-size:1.8333em;/* 2.2em;*/
        letter-spacing: -0.6px;
    }
    .hb_3{
        /*width: 285px;*/
        width: 20%;
        margin: 0 1%;
    }
    .hb_4{
        width: 28%;
    }

    nav{
        background-color: rgba(36,36,36,0.2);
    }
    nav ul{
        width:100%;
        display: -moz-box-flex;
        display: -webkit-flex;
        display: flex;
        justify-content:space-between; 
    }
    nav a{
        padding: 10px;
    }
    nav a.pull{
        display: none;
    }
    nav li a {
        border-top: solid 3px transparent;
        border-bottom: none;
    }
    nav li a:hover, nav li a:active {
        border-bottom: none;
    }
    .home_bloc_3,
    .home_bloc_4{
        display: -moz-box-flex;
        display: -webkit-flex;
        display: flex;
        justify-content:space-between; 
    }
    .ligne_apres{
        position: relative;
    }
    .ligne_apres:after{
        width: 86%;
        position: absolute;
        content: "";
        bottom: 20px;
        border-bottom: 1px solid #DDDDDD;
    }
    .ligne_apres span{
        width:14%;
        padding-right: 0;

    }
    .home_bloc_4 h2 span{
        display: inline-block;
        color: inherit;
        background-color: #fff;
    }
    .global_de_vinci{
        margin: 15px 0 50px;
    }
    .global_de_vinci img{
        display: block;
        position: absolute;
        top: 37px;;
        left: 0px;
        z-index: 1;
    }
    .global_de_vinci :nth-child(3){
        background-color: #fff;
        color: inherit;
        border: none;
        bottom: -30px;
        left: 45px;
        box-shadow: none;
    }
    .global_de_vinci :nth-child(3) span{
        display: inline-block;
        background-color: inherit;
        color: #81B600;
    }
    .cita_devinci{
        font-style: normal;
        color:#000;
        background-color:#fff;
        box-shadow: none;
        border: 1px solid #dddddd;
    }
    .equipe_collegue{
        padding: 0px;
    }
    .equipe_img_fl{
        display: -moz-box-flex;
        display:  -webkit-flex;
        display: flex;
        padding: 15px 0 15px 15px;
    }
    .equipe_descr{
        width: 62%;
        margin-left: 2%;
    }
    .form_contact input{
        width: 50%
    }
    input.send_mail{
        width: 20%;
    }
    textarea{
        height: 150px;
    }
    .googlemap,
    .foo_bloc2,
    .foo_logo,
    .equipe_img_fl img{
        display: block;
    }
    .foo{
        width: 45%;
        margin: 0 5%;
    }
    .foo h2{
        padding-left: 0; 
    }
    .foo ul{
        padding-left:25px;
    }

    .pos_flex :nth-child(1).foo,
    .pos_flex :nth-child(4).foo{
        margin-left: 0;
    }
    .pos_flex :nth-child(2).foo,
    .pos_flex :nth-child(5).foo{
        margin-right: 0;
    }
    .pos_flex{
        overflow: hidden;
    }
    .fl{
        float: left;
    }
    .bloc_projet{
        color: inherit;
        background: rgba(43,189,45,0.1);
        width: 40%;
        margin: 5%;
    }
    .foo_contact li:nth-child(1){
        list-style-image: url(../images/all/address.png);
    }
    .foo_contact li:nth-child(2){
        list-style-image: url(../images/all/phone.png);
    }
    .foo_contact li:nth-child(3){
        list-style-image: url(../images/all/mail.png);
    }
}
/*+++++++++++++++++++++++++++++++++++++ 
  +       media: Bureau               +
  +++++++++++++++++++++++++++++++++++++
*/
/*--------menu de navigation principal---------*/
@media only screen and (min-width : 768px) {
    .centrage{
        max-width: 1000px;
        margin: 0 auto;
    }
    .sliders{
        display: block;
    }
    .hb_2{
        width: 47.6%;
    }
    .hb_3{
        width: 27.6%;
    }
    .bloc_projet{
        width: 23%;
        margin: 0 2%;
    }
    .group1_proj,
    .group2_proj{
        margin: 4% 0;
    }
    .pos_flex :nth-child(1).bloc_projet{
        margin-left: 0;
    }
    .pos_flex :nth-child(5).bloc_projet{
        margin-right: 0;
    }
    .logo{
        display: inline-block;
    }
    .pos{
        position: relative;
    }
    nav{
        width:70%; 
        position: absolute;
        right: 0;
        top: 0;
        color: inherit;
        background: inherit;
    }
    nav ul li a{
        padding: 22px 15px;
    }
    .pos_flex,
    .equipe_flex{
        /*display: block;*/
        display: -moz-box-flex;
        display:  -webkit-flex;
        display: flex;
        justify-content:space-between;
    }
    .foo{
        width: 22%;
        margin: 0 2%;
    }
    .pos_flex :nth-child(1).foo{
        margin-left: 0;
    }
    .pos_flex :nth-child(2).foo{
        margin-right: 2%;
    }
    .pos_flex :nth-child(4).foo{
        margin-left: 2%;
    }


    .home_bloc_4 :nth-child(3).hb_4{
        margin-left: 0;
    }
    .home_bloc_4 :nth-child(5).hb_4{
        margin-right: 0;
    }
    .hb_4{
        width: 30.66%;
    }
    .equipe_collegue{
        width: 48.5%;
    }

    .form_contact{
        width: 60%;
    }
    .nos_coord{
        display: block;
        width: 37%;
    }
    .nos_coord ul{
        padding-left :20px; 
    }
    .nos_coord ul li{
        padding-bottom: 10px;
    }
    .nos_coord ul li a{
        text-decoration: none;
        color:inherit;
        background-color: inherit;
    }
    .nos_coord ul li a:hover{
        color: #81B600;
        background-color: inherit;
    }
    .nos_coord ul li span{
        font-weight: 700;
    }
    .nos_coord ul li:nth-child(1){
        list-style-image: url(../images/all/address_contact.png);
    }
    .nos_coord ul li:nth-child(2){
        list-style-image: url(../images/all/phone_contact.png);
    }
    .nos_coord ul li:nth-child(3){
        list-style-image: url(../images/all/mail_contact.png);
    }
    .copy_r p{
        text-align: right;
    }
    
  
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
