{% extends "ISLCrearchitexBundle::layout.html.twig" %}

   {% block title %}Accueil - Crearchitex{% endblock %}
{% block contenu %}

    <!-- titre de la section: 1er bloc de la section -->
    <h1 class="txt_align">Le bureau d'architecture <span>Crearchitech</span> allie création et techniques.
        construction,rénovation et design intérieur.</h1>
    <!-- slider : 2e bloc de la section -->
    <div class="sliders">
        <div class="slider-wrapper theme-default">
            <div id="slider" class="nivoSlider">

                <img src="http://placekitten.com/1000/500?i=9898" data-thumb="http://palcekitten.com/1000/400" alt=""/>
                <img src="http://placekitten.com/500/250?i=543" data-thumb="http://palcekitten.com/1000/400" alt=""/>
                <img src="http://placekitten.com/750/375?id=32" data-thumb="http://palcekitten.com/1000/400" alt=""/>

            </div>
        </div>
    </div>
    <!-- 3e bloc de la section: composé de 3 div flotant + 3titres -->
    <div class="home_bloc_3 over_flow">
        {%for categorie in categories %}
        <div class="fl hb_3">
            <div class="hb_3_rond_1"><p>{{loop.index}}</p></div>
            <h2>{{categorie.nom}}</h2>
            <p>{{categorie.description}}</p>
        </div>
        {% endfor %}
       
    </div>


    <!-- 4e bloc de la section: composé de 3 div flotant + 1 titre général-->
    <!--titre : Traveaux récents-->
    <h2 class="ligne_apres"><span>Travaux récents</span></h2>


{% endblock %}


